.unpurchased {
  width: 740px;
  height: 518px;
  background-color: #fff;
  color: #484848;
  border: #939393 10px solid;
  font-family: 'Eurostile', sans-serif;
  font-size: 22pt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center; }
  .unpurchased .title {
    height: 103.6px;
    width: 100%;
    order: 1;
    font-size: larger;
    font-weight: bolder;
    vertical-align: center;
    border: black 1px solid; }
  .unpurchased .description {
    width: 100%;
    flex-grow: 1;
    order: 2;
    vertical-align: center;
    border: black 1px solid; }
  .unpurchased .tech-containers {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    order: 3; }
    .unpurchased .tech-containers .tech {
      width: 296px;
      height: 103.6px;
      border: black 1px solid; }
    .unpurchased .tech-containers .prereq {
      background-color: #ededed;
      color: #484848;
      order: 1; }
    .unpurchased .tech-containers .negate {
      background-color: #484848;
      color: #ededed;
      order: 2; }
  .unpurchased .costs {
    height: 103.6px;
    width: 100%;
    order: 4;
    border: black 1px solid; }

.card {
  width: 740px;
  height: 518px;
  background-color: white;
  border: black 1px solid;
  font-family: 'Eurostile', sans-serif; }
  .card .header {
    display: flex;
    height: 88.06px;
    color: white; }
    .card .header .title {
      margin: auto;
      font-size: 2.5em;
      font-weight: bolder; }
    .card .header .level-1 {
      background-image: url("/level-1.png");
      background-repeat: no-repeat;
      width: 96.2px;
      margin-left: -96.2px; }
    .card .header .level-2 {
      background-image: url("/level-2.png");
      background-repeat: no-repeat;
      width: 96.2px;
      margin-left: -96.2px; }
    .card .header .level-3 {
      background-image: url("/level-3.png");
      background-repeat: no-repeat;
      width: 96.2px;
      margin-left: -96.2px; }
  .card .body {
    display: flex;
    flex-direction: column; }
    .card .body .tech-icon {
      width: 88.8px;
      height: 88.8px;
      margin-left: 40px;
      margin-top: -50px; }
    .card .body .harvest {
      background-image: url("/harvest.png");
      background-repeat: no-repeat; }
    .card .body .terraform {
      background-image: url("/terraform.png");
      background-repeat: no-repeat; }
    .card .body .military {
      background-image: url("/military.png");
      background-repeat: no-repeat; }
    .card .body .defense {
      background-image: url("/defense.png");
      background-repeat: no-repeat; }
    .card .body .resource {
      background-image: url("/resource.png");
      background-repeat: no-repeat; }
    .card .body .attack {
      background-image: url("/attack.png");
      background-repeat: no-repeat; }
    .card .body .scientist {
      background-image: url("/scientist.png");
      background-repeat: no-repeat; }
    .card .body .pioneer {
      background-image: url("/pioneer.png");
      background-repeat: no-repeat; }
    .card .body .scavenger {
      background-image: url("/scavenger.png");
      background-repeat: no-repeat; }
    .card .body .imperialist {
      background-image: url("/imperialist.png");
      background-repeat: no-repeat; }
    .card .body .warlord {
      background-image: url("/warlord.png");
      background-repeat: no-repeat; }
    .card .body .generalist {
      background-image: url("/generalist.png");
      background-repeat: no-repeat; }
    .card .body .description {
      width: 421.8px;
      height: 196.84px;
      margin: auto;
      text-align: center;
      font-size: 2em;
      line-height: 1.3; }
    .card .body .flavor-text {
      width: 540.2px;
      height: 82.88px;
      margin: auto;
      font-style: italic;
      text-align: center;
      font-size: 1.5em;
      line-height: 1.3; }
    .card .body .flavor-scientist {
      color: #18466b; }
    .card .body .flavor-pioneer {
      color: #603c18; }
    .card .body .flavor-scavenger {
      color: #0c542a; }
    .card .body .flavor-imperialist {
      color: #502f70; }
    .card .body .flavor-warlord {
      color: #6f0d0f; }
    .card .body .flavor-generalist {
      color: #776115; }
    .card .body .tech-action {
      margin: auto;
      height: 49.21px;
      margin-top: -20px;
      margin-bottom: 9px; }
    .card .body .tech-action-icon {
      background-image: url("/tech-action-icon.png");
      background-repeat: no-repeat;
      width: 48.84px; }
    .card .body .flip-tech {
      margin: auto;
      height: 53.354px;
      margin-top: -10px;
      margin-bottom: -45px;
      margin-left: 20px; }
    .card .body .flip-tech-icon {
      background-image: url("/flip-tech-icon.png");
      background-repeat: no-repeat;
      width: 53.28px; }
    .card .body .separator {
      width: 555px;
      margin: auto;
      display: block;
      height: 15px; }
    .card .body .separator-scientist {
      border-top: 1px solid #18466b; }
    .card .body .separator-pioneer {
      border-top: 1px solid #603c18; }
    .card .body .separator-scavenger {
      border-top: 1px solid #0c542a; }
    .card .body .separator-imperialist {
      border-top: 1px solid #502f70; }
    .card .body .separator-warlord {
      border-top: 1px solid #6f0d0f; }
    .card .body .separator-generalist {
      border-top: 1px solid #776115; }
  .card .prerequisite-container-scientist {
    border-top: 2px solid #18466b; }
    .card .prerequisite-container-scientist:before {
      border-top: 2px solid #18466b; }
    .card .prerequisite-container-scientist:after {
      border-top: 2px solid #18466b; }
  .card .prerequisite-container-pioneer {
    border-top: 2px solid #603c18; }
    .card .prerequisite-container-pioneer:before {
      border-top: 2px solid #603c18; }
    .card .prerequisite-container-pioneer:after {
      border-top: 2px solid #603c18; }
  .card .prerequisite-container-scavenger {
    border-top: 2px solid #0c542a; }
    .card .prerequisite-container-scavenger:before {
      border-top: 2px solid #0c542a; }
    .card .prerequisite-container-scavenger:after {
      border-top: 2px solid #0c542a; }
  .card .prerequisite-container-imperialist {
    border-top: 2px solid #502f70; }
    .card .prerequisite-container-imperialist:before {
      border-top: 2px solid #502f70; }
    .card .prerequisite-container-imperialist:after {
      border-top: 2px solid #502f70; }
  .card .prerequisite-container-warlord {
    border-top: 2px solid #6f0d0f; }
    .card .prerequisite-container-warlord:before {
      border-top: 2px solid #6f0d0f; }
    .card .prerequisite-container-warlord:after {
      border-top: 2px solid #6f0d0f; }
  .card .prerequisite-container-generalist {
    border-top: 2px solid #776115; }
    .card .prerequisite-container-generalist:before {
      border-top: 2px solid #776115; }
    .card .prerequisite-container-generalist:after {
      border-top: 2px solid #776115; }
  .card .prerequisite-container {
    transform: rotate(90deg);
    width: 222px;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    line-height: 1.2em;
    margin-left: -74px;
    margin-top: -196.84px;
    padding-top: 8px;
    padding-bottom: 8px; }
    .card .prerequisite-container:before {
      content: '';
      display: block;
      position: absolute;
      width: 81.4px;
      transform: rotate(120deg);
      transform-origin: 3px -4px; }
    .card .prerequisite-container:after {
      content: '';
      display: block;
      position: absolute;
      width: 81.4px;
      transform: rotate(-120deg);
      transform-origin: 135px -73px; }
    .card .prerequisite-container .none {
      color: #FFFFFF; }
    .card .prerequisite-container .harvest {
      color: #47bfab; }
    .card .prerequisite-container .terraform {
      color: #de6d26; }
    .card .prerequisite-container .military {
      color: #969696; }
    .card .prerequisite-container .defense {
      color: #c7b073; }
    .card .prerequisite-container .resource {
      color: #9bcb3d; }
    .card .prerequisite-container .attack {
      color: #eb87b7; }
    .card .prerequisite-container .scientist {
      color: #2971ab; }
    .card .prerequisite-container .pioneer {
      color: #a66828; }
    .card .prerequisite-container .scavenger {
      color: #4aa871; }
    .card .prerequisite-container .imperialist {
      color: #a582c7; }
    .card .prerequisite-container .warlord {
      color: #d34d50; }
    .card .prerequisite-container .generalist {
      color: #d8ab0c; }
  .card .cost-container-scientist {
    border-top: 2px solid #18466b; }
    .card .cost-container-scientist:after {
      border-top: 2px solid #18466b; }
  .card .cost-container-pioneer {
    border-top: 2px solid #603c18; }
    .card .cost-container-pioneer:after {
      border-top: 2px solid #603c18; }
  .card .cost-container-scavenger {
    border-top: 2px solid #0c542a; }
    .card .cost-container-scavenger:after {
      border-top: 2px solid #0c542a; }
  .card .cost-container-imperialist {
    border-top: 2px solid #502f70; }
    .card .cost-container-imperialist:after {
      border-top: 2px solid #502f70; }
  .card .cost-container-warlord {
    border-top: 2px solid #6f0d0f; }
    .card .cost-container-warlord:after {
      border-top: 2px solid #6f0d0f; }
  .card .cost-container-generalist {
    border-top: 2px solid #776115; }
    .card .cost-container-generalist:after {
      border-top: 2px solid #776115; }
  .card .cost-container {
    display: flex;
    flex-direction: row;
    float: right;
    height: 56.98px;
    max-width: 458.8px;
    padding-right: 15px; }
    .card .cost-container:after {
      content: '';
      display: block;
      position: absolute;
      width: 74px;
      transform: rotate(130deg);
      transform-origin: 1px 0px; }
    .card .cost-container .cost {
      margin: 5px 15px 5px 15px;
      width: 45.14px;
      height: 45.14px; }
    .card .cost-container .cost + .cost::before {
      align-items: center;
      display: flex;
      content: '+';
      font-size: 2em;
      margin-left: -23px;
      height: 100%; }
    .card .cost-container .food-1 {
      background-image: url("/food-1.png");
      background-repeat: no-repeat; }
    .card .cost-container .food-2 {
      background-image: url("/food-2.png");
      background-repeat: no-repeat; }
    .card .cost-container .food-3 {
      background-image: url("/food-3.png");
      background-repeat: no-repeat; }
    .card .cost-container .matter-1 {
      background-image: url("/matter-1.png");
      background-repeat: no-repeat; }
    .card .cost-container .matter-2 {
      background-image: url("/matter-2.png");
      background-repeat: no-repeat; }
    .card .cost-container .matter-3 {
      background-image: url("/matter-3.png");
      background-repeat: no-repeat; }
    .card .cost-container .energy-1 {
      background-image: url("/energy-1.png");
      background-repeat: no-repeat; }
    .card .cost-container .energy-2 {
      background-image: url("/energy-2.png");
      background-repeat: no-repeat; }
    .card .cost-container .energy-3 {
      background-image: url("/energy-3.png");
      background-repeat: no-repeat; }
    .card .cost-container .any-1 {
      background-image: url("/any-1.png");
      background-repeat: no-repeat; }
    .card .cost-container .any-3 {
      background-image: url("/any-3.png");
      background-repeat: no-repeat; }
  .card .header.scientist {
    background-color: #18466b; }
  .card .header.pioneer {
    background-color: #603c18; }
  .card .header.scavenger {
    background-color: #0c542a; }
  .card .header.imperialist {
    background-color: #502f70; }
  .card .header.warlord {
    background-color: #6f0d0f; }
  .card .header.generalist {
    background-color: #776115; }
