$width: 750px;
$height: 0.7 * $width;

$scientist-color: #18466b;
$pioneer-color: #603c18;
$scavenger-color: #0c542a;
$imperialist-color: #502f70;
$warlord-color: #6f0d0f;
$generalist-color: #776115;

.card {
  width: $width;
  height: $height;
  background-color: white;
  border: black 1px solid;
  font-family: 'Eurostile', sans-serif;
  .header{
    display: flex;
    height: 0.17 * $height;
    color: white;
    .title{
      margin: auto;
      font-size: 2.5em;
      font-weight: bolder;
    }
    .level-1{
      background-image: url('/level-1.png');
      background-repeat: no-repeat;
      width: 0.13 * $width;
      margin-left: -0.13 * $width;
    }
    .level-2{
      background-image: url('/level-2.png');
      background-repeat: no-repeat;
      width: 0.13 * $width;
      margin-left: -0.13 * $width;
    }
    .level-3{
      background-image: url('/level-3.png');
      background-repeat: no-repeat;
      width: 0.13 * $width;
      margin-left: -0.13 * $width;
    }
  }
  .body{
    display: flex;
    flex-direction: column;
    .tech-icon {
      width: 0.12 * $width;
      height: 0.12 * $width;
      margin-left: 40px;
      margin-top: -50px;
    }
    .harvest{
      background-image: url('/harvest.png');
      background-repeat: no-repeat;
    }
    .terraform{
      background-image: url('/terraform.png');
      background-repeat: no-repeat;
    }
    .military{
      background-image: url('/military.png');
      background-repeat: no-repeat;
    }
    .defense{
      background-image: url('/defense.png');
      background-repeat: no-repeat;
    }
    .resource{
      background-image: url('/resource.png');
      background-repeat: no-repeat;
    }
    .attack{
      background-image: url('/attack.png');
      background-repeat: no-repeat;
    }
    .scientist{
      background-image: url('/scientist.png');
      background-repeat: no-repeat;
    }
    .pioneer{
      background-image: url('/pioneer.png');
      background-repeat: no-repeat;
    }
    .scavenger{
      background-image: url('/scavenger.png');
      background-repeat: no-repeat;
    }
    .imperialist{
      background-image: url('/imperialist.png');
      background-repeat: no-repeat;
    }
    .warlord{
      background-image: url('/warlord.png');
      background-repeat: no-repeat;
    }
    .generalist{
      background-image: url('/generalist.png');
      background-repeat: no-repeat;
    }
    .description{
      width: 0.57 * $width;
      height: 0.38 * $height;
      margin: auto;
      text-align: center;
      font-size: 2em;
      line-height: 1.3;
    }
    .flavor-text {
      width: 0.73 * $width;
      height: 0.16 * $height;
      margin: auto;
      font-style: italic;
      text-align: center;
      font-size: 1.5em;
      line-height: 1.3;
    }
    .flavor-scientist {
      color: $scientist-color;
    }
    .flavor-pioneer {
      color: $pioneer-color;
    }
    .flavor-scavenger {
      color: $scavenger-color;
    }
    .flavor-imperialist {
      color: $imperialist-color;
    }
    .flavor-warlord {
      color: $warlord-color;
    }
    .flavor-generalist {
      color: $generalist-color;
    }
    .tech-action{
      margin: auto;
      height: 0.095 * $height;
      margin-top: -20px;
      margin-bottom: 9px;
    }
    .tech-action-icon{
      background-image: url('/tech-action-icon.png');
      background-repeat: no-repeat;
      width: 0.066 * $width;
    }
    .flip-tech{
      margin: auto;
      height: 0.103 * $height;
      margin-top: -10px;
      margin-bottom: -45px;
      margin-left: 20px;
    }
    .flip-tech-icon{
      background-image: url('/flip-tech-icon.png');
      background-repeat: no-repeat;
      width: 0.072 * $width;
    }
    .separator{
      width: 0.75 * $width;
      margin: auto;
      display: block;
      height: 15px;
    }
    .separator-scientist{
      border-top: 1px solid $scientist-color;
    }
    .separator-pioneer{
      border-top: 1px solid $pioneer-color;
    }
    .separator-scavenger{
      border-top: 1px solid $scavenger-color;
    }
    .separator-imperialist{
      border-top: 1px solid $imperialist-color;
    }
    .separator-warlord{
      border-top: 1px solid $warlord-color;
    }
    .separator-generalist{
      border-top: 1px solid $generalist-color;
    }
  }
  .prerequisite-container-scientist{
    border-top: 2px solid $scientist-color;
    &:before{
      border-top: 2px solid $scientist-color;
    }
    &:after{
      border-top: 2px solid $scientist-color;
    }
  }
  .prerequisite-container-pioneer{
    border-top: 2px solid $pioneer-color;
    &:before{
      border-top: 2px solid $pioneer-color;
    }
    &:after{
      border-top: 2px solid $pioneer-color;
    }
  }
  .prerequisite-container-scavenger{
    border-top: 2px solid $scavenger-color;
    &:before{
      border-top: 2px solid $scavenger-color;
    }
    &:after{
      border-top: 2px solid $scavenger-color;
    }
  }
  .prerequisite-container-imperialist{
    border-top: 2px solid $imperialist-color;
    &:before{
      border-top: 2px solid $imperialist-color;
    }
    &:after{
      border-top: 2px solid $imperialist-color;
    }
  }
  .prerequisite-container-warlord{
    border-top: 2px solid $warlord-color;
    &:before{
      border-top: 2px solid $warlord-color;
    }
    &:after{
      border-top: 2px solid $warlord-color;
    }
  }
  .prerequisite-container-generalist{
    border-top: 2px solid $generalist-color;
    &:before{
      border-top: 2px solid $generalist-color;
    }
    &:after{
      border-top: 2px solid $generalist-color;
    }
  }
  .prerequisite-container{
    transform: rotate(90deg);
    width: 0.3 * $width;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    line-height: 1.2em;
    margin-left: -0.1 * $width;
    margin-top: -0.38 * $height;
    padding-top: 8px;
    padding-bottom: 8px;
    &:before{
      content: '';
      display: block;
      position: absolute;
      width: 0.11 * $width;
      transform: rotate(120deg);
      transform-origin: 3px -4px;
    }
    &:after{
      content: '';
      display: block;
      position: absolute;
      width: 0.11 * $width;
      transform: rotate(-120deg);
      transform-origin: 135px -73px;
    }
    .prerequisite{
    }
    .none{
      color: #FFFFFF;
    }
    .harvest{
      color: #47bfab;
    }
    .terraform{
      color: #de6d26;
    }
    .military{
      color: #969696;
    }
    .defense{
      color: #c7b073;
    }
    .resource{
      color: #9bcb3d;
    }
    .attack{
      color: #eb87b7;
    }
    .scientist{
      color: #2971ab;
    }
    .pioneer{
      color: #a66828;
    }
    .scavenger{
      color: #4aa871;
    }
    .imperialist{
      color: #a582c7;
    }
    .warlord{
      color: #d34d50;
    }
    .generalist{
      color: #d8ab0c;
    }
  }
  .cost-container-scientist{
    border-top: 2px solid $scientist-color;
    &:after{
      border-top: 2px solid $scientist-color;
    }
  }
  .cost-container-pioneer{
    border-top: 2px solid $pioneer-color;
    &:after{
      border-top: 2px solid $pioneer-color;
    }
  }
  .cost-container-scavenger{
    border-top: 2px solid $scavenger-color;
    &:after{
      border-top: 2px solid $scavenger-color;
    }
  }
  .cost-container-imperialist{
    border-top: 2px solid $imperialist-color;
    &:after{
      border-top: 2px solid $imperialist-color;
    }
  }
  .cost-container-warlord{
    border-top: 2px solid $warlord-color;
    &:after{
      border-top: 2px solid $warlord-color;
    }
  }
  .cost-container-generalist{
    border-top: 2px solid $generalist-color;
    &:after{
      border-top: 2px solid $generalist-color;
    }
  }
  .cost-container{
    display: flex;
    flex-direction: row;
    float: right;
    height: 0.11 * $height;
    max-width: 0.62 * $width;
    padding-right: 15px;
    &:after{
      content: '';
      display: block;
      position: absolute;
      width: 0.1 * $width;
      transform: rotate(130deg);
      transform-origin: 1px 0px;
    }
    .cost{
      margin: 5px 15px 5px 15px;
      width: 0.061 * $width;
      height: 0.061 * $width;
    }
    .cost + .cost::before{
      align-items: center;
      display: flex;
      content: '+';
      font-size: 2em;
      margin-left: -23px;
      height: 100%;
    }
    .food-1{
      background-image: url('/food-1.png');
      background-repeat: no-repeat;
    }
    .food-2{
      background-image: url('/food-2.png');
      background-repeat: no-repeat;
    }
    .food-3{
      background-image: url('/food-3.png');
      background-repeat: no-repeat;
    }
    .matter-1{
      background-image: url('/matter-1.png');
      background-repeat: no-repeat;
    }
    .matter-2{
      background-image: url('/matter-2.png');
      background-repeat: no-repeat;
    }
    .matter-3{
      background-image: url('/matter-3.png');
      background-repeat: no-repeat;
    }
    .energy-1{
      background-image: url('/energy-1.png');
      background-repeat: no-repeat;
    }
    .energy-2{
      background-image: url('/energy-2.png');
      background-repeat: no-repeat;
    }
    .energy-3{
      background-image: url('/energy-3.png');
      background-repeat: no-repeat;
    }
    .any-1{
      background-image: url('/any-1.png');
      background-repeat: no-repeat;
    }
    .any-3{
      background-image: url('/any-3.png');
      background-repeat: no-repeat;
    }
  }
  .header.scientist{
    background-color: $scientist-color;
  }
  .header.pioneer{
    background-color: $pioneer-color;
  }
  .header.scavenger{
    background-color: $scavenger-color;
  }
  .header.imperialist{
   background-color: $imperialist-color;
  }
  .header.warlord{
    background-color: $warlord-color;
  }
  .header.generalist{
    background-color: $generalist-color;
  }
}